<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parkir_baru">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parkir_Baru">
        <activity android:name=".Admin.DetailActivity"></activity>
        <activity android:name=".Admin.HariActivity" />
        <activity android:name=".Admin.LaporanActivity" />
        <activity android:name=".Admin.TunjunganActivity" />
        <activity android:name=".Admin.SpinnerTunjActivity" />
        <activity android:name=".MallActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".Admin.EditActivity" />
        <activity android:name=".Admin.LihatActivity" />
        <activity android:name=".Admin.SimpanActivity" />
        <activity android:name=".Admin.AdminActivity" /> <!-- menu admin -->
        <activity android:name=".BayarActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".DenahActivity" />
        <activity android:name=".PesanActivity" />
        <activity android:name=".HomeActivity"> <!-- menu pelanggan -->

        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- hal login -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>